---
layout: layout
---

<style>
    #about-header{
        margin-top: 85px;
    }
    #about-header img{
        width: 145px;
    }
    .offer-body,
    .person-body,
    .project-body,
    .skills-body,
    .work-body,
    .learn-body{
        padding-left: 25px;
    }
    p{
        margin:0;
        font-size: 15px;
    }
    .body-section{
        padding-left: 15px;
    }
    #offer ul{
        margin-left: 20px;
        margin-bottom: 5px!important;
        border-left: 4px darkgray solid;
        padding-left: 8px;

    }
    li{
        list-style: none;
        font-size: 15px;

    }
    .title{
        color: #777;
    }
    .title>span{margin-right: 5px}
    .detail-info-xueli{
        display: block;
        padding-left: 70px;
    }


</style>

<!-- Chinese Version -->
<div class="zh post-container">
<    <div class="content" id="about-header">
        <!--正文-->
        <div class="row" id="offer">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="work-experience">
                    <h1 class="title">关于我</h1>
                </div>
                <div style="margin-top: 40px">
                    <%- page.content %>
                </div>

            </div>
        </div></div>
</div>




